* {font-family: "Arial";}
p {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
ul {
  border: 1px solid blue;
}
h2 {
  border-bottom: 5px solid gray;
  font-size: 16px;
  font-weight: normal;
}
.title {
  background-color: darkblue;
  color: white;
}
.horizontal_list li{
  display: inline;
}

